@font-face {
    font-family: pageTitle;
    src: url('fonts/ANTARG.TTF');
}

@font-face {
    font-family: titleFont;
    src: url('fonts/arc.ttf');
}

@font-face {
    font-family: bodyText;
    src: url('fonts/Exo2.0-Light.otf');
}

@font-face {
    font-family: thinText;
    src: url('fonts/Exo2.0-Thin.otf');
}

p {
    font-family: bodyText;
    margin: 0px;
}

body {
  background: rgb(50, 50, 50);
}

div {
    border: 1px solid;
    border-color: rgb(100, 100, 100);
    background-color: rgb(30, 30, 30);
}

.link {
    color: rgb(50, 125, 190);
}

.event {
    stroke-width: 2.5;
    cursor: pointer;
}

.countryLabels {
    font-family: bodyText;
    letter-spacing: 1pt;
}

.countries{
    opacity: 0.3;
}

.axis .domain {
  fill: none;
  stroke: rgb(240, 240, 240);
  stroke-opacity: 1;
  stroke-width: 3px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.countryLabels {
    font-size: 10pt;
    font-family: sans-serif;
}

.slider .handle {
  fill: rgb(240, 240, 240);
  stroke: black;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  cursor: pointer;
}


.axis text {
    font-size: 11pt;
    fill: rgb(240, 240, 240);
}


.infoPanelBox {
    float: left;
    /*margin-top: 5px;*/
}

.mapContainer {
    float: right;;
    /*top: 5px;*/

}

.map {
    display: block;
    margin: auto;
    margin-top: 6px;
    border-radius: 50%;
    border: 1.5px solid;
    border-color: rgb(140, 152, 200);
    position: relative;
    top: -42px;
}

.displayYear {
    font-size: 36pt;
    color: rgb(240, 240, 240);
    position: absolute;
    right: 20px;
    top: 10px;
}

.sphereStroke {
    fill: none;
    stroke: rgb(150, 162, 200);
    stroke-width: 3px;
}

.sphereFill {
    fill: rgb(200, 212, 250);
}

.graticule {
    fill: none;
    stroke: rgb(100, 100, 100);
    stroke-width: .5px;
    stroke-opacity: .5;
}

.landBody {
    fill: rgb(240, 240, 240);
    stroke: rgb(100, 100, 100);
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}

.eLine {
    fill:none;
    stroke-width: 2.5px;
}

.ePoint {
    stroke-width: 2.5px;
}

.ePoly {
    opacity: 0.6;
}


.ePoly:hover {
    stroke: yellow;
}

#title {
    font-family: pageTitle;
    letter-spacing: 2px;
    font-size: 26pt;
    color: rgb(59, 152, 204);
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
}

#titleContainer {
    height: 45px;
    position: relative;
    top: 350px;
    z-index: 10;
}


#welcomeInfo {
    padding: 10px;
    background-color: #323232;
    color: rgb(210, 210, 210);
    position: relative;
    z-index: 10;
    top:345px;
}

.introContainer {
    position: absolute;
    width: 269px;
    height: 600px;
    top: 10%;
    left: 40%;
    z-index: 9;
}

.Button {
    background: #323232;
    background-image: -webkit-linear-gradient(top, #323232, #323232);
    background-image: -moz-linear-gradient(top, #323232, #323232);
    background-image: -ms-linear-gradient(top, #323232, #323232);
    background-image: -o-linear-gradient(top, #323232, #323232);
    background-image: linear-gradient(to bottom, #323232, #323232);
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    font-family: Times;
    color: #3b97cc;
    cursor: pointer;
}


.Button:hover {
  background: #d3d3d3;
  text-decoration: none;
}

.buttonBox {
    width: 75px;
    position: absolute;
    margin-left: 5px;
    margin-top: 10px;
}

#nextYear {
    position: relative;
    left: 5px;
    border-radius: 50%;
}

#backYear {
    border-radius: 50%;
}

@-webkit-keyframes clickMe {
  0% {left:47%;}
  50% {left:46%;}
  100% {left:47%;}
}

@keyframes clickMe {
  0% {left:47%;}
  50% {left:46%;}
  100% {left:47%;}

}

#startButton {
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  text-align: center;
  left: 46%;

  /*/*sorry, Roar, I'm really not a fan of this so I took it out. You can add it back whenever you want though
  animation: clickMe 2s;
  animation-iteration-count: infinite;
  -webkit-animation:clickMe 2s;
  -webkit-animation-iteration-count: infinite;*/
  
}

#SkipButton {
    font-size: 10px;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    position: relative;
    top: 360px;
    left: 210px;
}

#nextButton {
    font-size: 10px;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    position: relative;
    top: 360px;
    left: 50px;
}

#backButton {
    font-size: 10px;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    position: relative;
    top: 360px;
    left: -50px;
}


.introTitle {
    position: absolute;
    font-family: titleFont;
    font-size: 18pt;
    top: 5px;
    left: 20px;
    color: rgb(50, 125, 190);
}

.imageBox {
  position: relative;
  border: none;
  top: 360px;
  width: 250px; 
  height: 198px;
  left:10px;
}

.tick line {
    stroke: rgb(240, 240, 240);
    stroke-width: 3px;
}

#accordion .ui-accordion-content{
    padding: 5px;
    font-family: Times;
} 


#accordion .ui-accordion-header {
    padding: 10px;
    font-family: titleFont;
    letter-spacing: 1px;
    text-align: center;
    font-size: 15pt;
}

.shadowBox {
  background: rgba(50,50,50, 0.9);
  position: absolute;
  z-index: 8;
  border-width: 0px;
}

#pageShadow {
    left: 0;
    
}

#intro-Slides{
  position: absolute;
  text-align: center;
  font-family: thinText;
  top: 40px;
  margin: 5px;
  color: rgb(240, 240, 240);
}