body {
  background: rgb(50, 50, 50);
}

div {
    border: 1px solid;
    border-color: rgb(100, 100, 100);
    background-color: rgb(30, 30, 30);
}

.timelineBox {
    /*margin-top: 5px;*/
    width: 980px;
    height: 138px;
    
}

/*.event:hover {
    fill: rgb(240, 240, 240);
}*/

.event {
    stroke-width: 1.5;
}

.axis .domain {
  fill: none;
  stroke: rgb(240, 240, 240);
  stroke-opacity: 1;
  stroke-width: 3px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.countryLabels {
    font-size: 10pt;
    font-family: sans-serif;
}

.slider .handle {
  fill: rgb(240, 240, 240);
  stroke: black;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  cursor: pointer;
}


.axis text {
    font-size: 11pt;
    fill: rgb(240, 240, 240);
}


.infoPanelBox {
    position: absolute;
    /*margin-top: 5px;*/
    width: 250px;
    height: 720px;
}

.mapContainer {
    position: relative;
    /*top: 5px;*/
    left: 252px;
    width: 728px;
    height: 728px;

}

.map {
    display: block;
    margin: auto;
    margin-top: 6px;
    border-radius: 50%;
    border: 1.5px solid;
    border-color: rgb(140, 152, 200);
}

.displayYear {
    font-size: 36pt;
    color: rgb(240, 240, 240);
    position: absolute;
    right: 20px;
    top: 10px;
}

.sphereStroke {
    fill: none;
    stroke: rgb(150, 162, 200);
    stroke-width: 3px;
}

.sphereFill {
    fill: rgb(200, 212, 250);
}

.graticule {
    fill: none;
    stroke: rgb(100, 100, 100);
    stroke-width: .5px;
    stroke-opacity: .5;
}

.landBody {
    fill: rgb(240, 240, 240);
    stroke: rgb(100, 100, 100);
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}

.eLine {
    fill:none;
    stroke-width: 1.5px;
}

#accordion {
    color: #323232;
    margin: 5px;
    border-radius: 10px;
}

/*.line:hover {
    stroke-width: 2.5pt;
}*/

#title {
    color: rgb(59, 152, 204);
    margin-top: 5px;
    margin-left: 5px;
}

#titleContainer {
    height: 45px;
    width: 980px;
}


#welcomeInfo {
    margin-top: 10px;
    padding: 10px;
    width: 960px;
    height: 600px;
    background-color: #323232;
    color: #828281;
}

.introContainer {
    position: relative;
    top: -722px;
    left: -6px;
    margin: 5px;
    width: 252px;
    height: 450px;

}

.Button {
    background: #323232;
    background-image: -webkit-linear-gradient(top, #323232, #323232);
    background-image: -moz-linear-gradient(top, #323232, #323232);
    background-image: -ms-linear-gradient(top, #323232, #323232);
    background-image: -o-linear-gradient(top, #323232, #323232);
    background-image: linear-gradient(to bottom, #323232, #323232);
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    font-family: Times;
    color: #3b97cc;
}


.Button:hover {
  background: #d3d3d3;
  text-decoration: none;
}

.buttonBox {
    width: 75px;
    position: absolute;
    margin-left: 5px;
    margin-top: 10px;
}

#nextYear {
    position: relative;
    left: 5px;
    border-radius: 50%;
}

#backYear {
    border-radius: 50%;
}

#startButton {
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: absolute;
  left: 739px;
  top: 9px;
}

#SkipButton {
    font-size: 10px;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    position: absolute;
    top: 420px;
    left: 200px;
}

#nextButton {
    font-size: 10px;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    position: absolute;
    top: 420px;
    left: 75px;
}

#backButton {
    font-size: 10px;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    position: absolute;
    top: 420px;
    left: 10px;
}


.introTitle {
    position: absolute;
    font-family: Times;
    top: 5px;
    left: 20px;
    font-size: 14pt;
    color: rgb(50, 125, 190);
}

.imageBox {
  position: absolute;
  border: none;
  top: 220px;
  width: 250px; 
  height: 198px;
}

#accordion .ui-accordion-content{
    padding: 5px;

} 

.tick line {
    stroke: rgb(240, 240, 240);
    stroke-width: 3px;
}


accordion .ui-accordion-header {
    padding: 5px;
}

.shadowBox {
  background: rgba(50,50,50, 0.8);
  position: absolute;
  z-index: 5;
}

#timelineBoxShadow{
  width: 980px;
  height: 138px;
}

#mapContainerShadow {
  width: 720px;
  height: 720px;
}